html,body{
    margin: 0;
    padding: 0;
    background-color:#fef9e6;
}

#header{
    width: 100%;
}
.nav{
    position: relative;
    margin:0 auto;
    padding: 0;
    height: 70px;
}

.nav ul{
    margin:0 ;
    padding: 20px 0 0;
    list-style:none;
    text-align: right;
}

.nav ul li{
    float: none;
    display: inline-block;
}

.nav ul li:nth-child(1){float: left;}
.nav ul li:nth-child(2){float: left;}

.nav ul li a{
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 3px;
    padding: 5px 120px;
}
.nav ul li a:hover{
    transition: 1s;
    color: rgb(133, 99, 99);
    border: radius 20px; 
}

.logo{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(0,0);
    margin-left: -50px;
    transition: 1s;
    content: '';
}
.logo:hover{
    transition: 1s;
    transform: scale(-1.01);
}
.home{
    height: 400px;
text-align: center;
margin-top: 150px;
}

.home h1{
    letter-spacing: 3px;
}
.home a{
    background-color: #f2f2f2 ;
    border: #f9e79b solid 1px;
    border-radius: 30px ;
    padding: 15px;
}
.home a:hover{
    background-color: #f9e79b;
    color: ;
}